.root {
    z-index: 1;
}

.root h3 {
    padding-top: 20px;
}

.form input[type='text'] {
    width: 100%;
}

.groupsTable {
    width: 100%;
}

.groupsTable th:nth-child(2), .groupsTable th:nth-child(3) {
    width: 25%;
    text-align: center;
}