.button {
    color: #FFFFFF;
    background-color: inherit;

    cursor: pointer;

    width: 100%;
    display: block;

    text-align: left;
    border: none;

    font: inherit;
    font-weight: bold;
}

.button:hover {
    background-color: #113246;
}

.button span {
    position: absolute;
    right: 20px;
    
}