.headerButton {
    color: #FCFEFF;
    background-color: transparent;
    text-align: left;
    border: none;

    font-size: 14px;
    font-weight: bold;

    padding: 8px 20px 8px 20px;
    margin: 0;
    width: 100%;
    display: block;

    cursor: pointer;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    font-size: 14px;
}

.list li {
    background-color: #003354;
    
    padding-left: 20px;
}

.list a {
    color: #FCFEFF;

    padding: 8px 0 8px 0;
    display: block;

    text-decoration: none;
}

.list li:hover {
    background-color: #012d4b;
}

.active {
    font-weight: bold;
}