.select {
    background-color: white;
    outline: 0;

    margin-top: 5px;
    margin-bottom: 10px;
    height: 32px;

    border-width: 0.5px;
    border-style: solid;
    border-radius: 6px;

    text-indent: 10px;
}