.section {
    background-color: #FCFEFF;
    padding: 20px;

    position: fixed;
    width: 500px;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;

    box-shadow: -1px 0px 100px 1px #aaaaaa;
    border-radius: 25px;

    overflow-y: auto;

    z-index: 1;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
}