.section {
    background-color: #FCFEFF;

    padding: 20px;
    position: fixed;
    width: 500px;
    top: 0;
    right: 0;
    bottom: 0;

    box-shadow: -1px 0px 100px 1px #aaaaaa;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
}